.leftcolumn{
    background-color: darkgray;
}

.rightcolumn{
    background-color: slategray;
}

#searchBtn{
    width: 100%;
}

.jumbotron{
    background-color: white;
}
h4{
    margin-top: 16px;
    margin-bottom: 0px;
}