.leftcolumn{
    background-color: darkgray;
}

.rightcolumn{
    background-color: slategray;
}

#searchBtn{
    width: 100%;
}

.jumbotron{
    background-color: white;
    padding: 32px;
}

h4{
    margin-top: 16px;
    margin-bottom: 0px;
}
.card{
    margin-bottom: 100px;
}

.card-body{
    padding: 5px;
}